@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Virgil font excalidraw */
@font-face {
    font-family: "Virgil";
    src: url("Virgil.woff2");
    font-display: swap;
}

* {
    font-family: 'DejaVu Sans Mono', monospace;
}

.personal-name {
    position: relative;
    font-weight: 100;
    /* margin: auto; */
    font-size: 24px;
    /* normal cursor */
    cursor: default;
    font-family: 'Virgil', sans-serif;
}

.summary {
    font-size: 16px;
    font-weight: 100;
    /* margin: auto; */
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 14px;
}

.contact a {
    text-decoration: none;
    color: blue;
}

.tech {
    margin: auto;
}

.tech ul {
    list-style-type: none;
    padding: 2px;
}

.head {
    text-align: center;
}

.personal-picture {
    margin: auto;
}

.personal {
    display: flex;
    justify-content: center;
}

div.personal > a {
    position: relative;
}

.emailto {

    position: relative
}

.top {
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 1000;
    text-align: right;
    /* margin: 10px; */
    background-color: white;
}

.emailto {
    text-align: right;
}

.personal-picture {
    width: 90px;
    padding: 4px;
    height: auto;
    border-radius: 50%;
    /* border: 4px solid white; */
}

.personal-picture:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

header {
    visibility: hidden;
    height: 0;
}
.parent {
    /* background-color: aliceblue; */
    /* position: relative; */
    /* height: 200vh; */
}
.child1 {
    background-color: lightcoral;
    /* position: sticky; */
    top: 10px;
}
.child2 {
    background-color: lightgreen;
}
.child3 {
    background-color: lightgoldenrodyellow;
}